<table class="table table-hover">
  <thead>
  <tr>
      <td>Video Name</td>
      <td>Video Link</td>
      <td>Song Type</td>
      <td>Song Name</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let adunit of adunits">
          <td>{{ adunit.video_name }}</td>
          <td><a href="{{ adunit.video_link }}">{{ adunit.video_link }}</a></td>
          <td>{{ adunit.song_type }}</td>
          <td>{{ adunit.song_name }}</td>
          <td><a [routerLink]="['/edit', adunit._id]" class="btn btn-primary">Edit</a></td>
          <td><button routerLink="index" (click)="deleteAdUnit(adunit._id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>